@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;

}

body{
    font-family: "Oswald", sans-serif;
    /* font-family: "Poppins", sans-serif; */
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-section {

    display: flex;
    align-items: center;
    background-color: rgba(113, 179, 13, 0.87);
    height: 4vh;
    padding: 5px;

}

#img-head{
    margin: 5px;
    height: 100%;
    border-radius: 40px;
}

/* ===== Switch ====== */
.switch {
    position: relative;
    width: 15%;
    height: 8%;
    padding-left: 6%;
    margin-left: 2%;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 66%;
    width: 38%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(100%);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 100%;
}

.map-section{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: sticky;

}
.nav-bar {
    width: 4vh;
    padding: 2px;
    padding-top: 25vh;
    padding-left: 1%;
    float: left;
    z-index: 1; 
    position: absolute;
    z-index: 9999;
    display: block;
    
}

.icon-nav{

    cursor: pointer;
    border-radius: 5px;
    height: 4vh;
    display: block;
    position: absolute;
    width: 4vh;
    margin-left: 3%;
    margin-top: 10%;
    z-index: 9999;
    color: rgba(255, 255, 255, 0.76);
    background-color: rgba(101, 168, 23);
    align-items: center;
    justify-content: center;
    display: none;
    

}

.icon-nav:hover{
    background-color: rgba(81, 150, 3);
}

.nav-button {
    height: 36px;
    width: 36px;
    margin-top: 60%;
    background-color: rgb(101, 168, 23);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 8px;

}

.nav-button:hover {
    background-color: rgb(81, 150, 3); 
}

.map-container {
    height: fit-content;
    flex-grow: 1;
    height: 100%;
}

#map { 
    height: 100%; 
    width: 100%;
    border-radius: 5px;
}

#desc-switch {
    display: none;
}

#fulldesc-switch{
    display: none;
}

#legende-switch{
    display: none;
}

/* ======= Esthétique générale ===== */
.body-dialog {
    background-color: rgb(219, 238, 243);
    padding: 0px;
    padding-top: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999; 
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
}


.head-dialog{
    position: absolute;
    top: 0px;
    background: rgb(112, 179, 13);
    width: 100%;
    position: sticky;
    z-index: 9999;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 2px;
}

.close-button{
    background-color: rgb(255, 81, 0);
    color:azure;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    width: 18px;
    margin-right: 5px;
}

.dev-button{
    background-color: rgb(71, 165, 219);
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    width: 18px;
}

.content-dialog{
    overflow-y: auto;
    max-height: 100%;
    padding: 10px;
}

.list {
    width: 100%;
    display:list-item;
    height: 90%;
    overflow: hidden;
    list-style: none;
    background-color: rgba(205, 238, 187, 0.37);
    border-radius: 5px;
    bottom: 0px;
    cursor: pointer;
    flex-wrap: wrap;
    position: relative;
    padding: 5px;
}


.list li {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

li:hover{
    background-color: #8ebe882f;
    
}

.dev-button:hover, .close-button:hover {
    opacity: 0.8;
}

.info {
    color: rgb(249, 252, 249);
    position: absolute;
    gap: 5px;
    display: flex;
    top: 10px;
    margin-left: 6%;
    z-index: 9999;
    padding: 5px;
    background: rgba(143, 176, 236, 0.582);
    padding-top: 0;
    border-radius: 5px;
}

.info p{
    text-shadow: 2px 2px 4px black;
}

/* ============= liste ============ */

#view-list{
    width: 30vh;
    top: 5%;
    height: calc(100% - 11%);
    margin-right: 5px;
    padding: 0px;
}

#view-list h4 {
    margin-left: 10px;
}

#liste-content {
    width: 95%;
    margin-bottom: 10px;
}


.sub-list {
    margin-left: 2px;
    list-style-type: disc;
    /* display:none; */
    overflow: hidden;
    list-style: none;
}

.sub-list.show { display: block; }


.equip-item {
    font-style: italic;
    color: #666;
}


/* ============ date ============== */

#view-date {
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 45%;
    z-index: 9999;
    border: 1px solid #ccc;
    object-position: center;
    padding: 0px;
}

#curseur{
    padding-left: 5px;
    padding-right: 5px;
}

#date-slider{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#play-date{
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    height: 100%;
    border: 0px;
    overflow: hidden;
    padding: 5px;
    margin: 0;
}
#bas_date{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    height: 2vw;
    padding: 2px;
    
}
#chrono{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

}


#dateDisplay2 {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* =============== Description1 =============  */

#view_description {
    bottom: 15px; 
    right: 0; 
    height: 20%;
    width: 65%;
}

.descriptions{
    padding: 0px;
    top: 0px;
    background: red;
}

#content-desc{
    padding: 0px;
    display: block;
}

#titre-description{
    margin-top: 0px;
}


.img{
    float: left;
    width: 20vh;
    max-width: 20vh;
    height: 15vh;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 4px;
    margin-left: 4px;
}

.img_desc {
    max-width: 100%;
    max-height: 100%;
    width: auto; 
    max-height: 100%;
    border-radius: 5px;
    
}

/* ============ filtre ==========  */
#view-filtre{
    width: 20%;
    top: 20%;
    height: auto;
    margin-left: calc(0vh + 7vh);
}
#list-filtre{
    width: auto;
    height: auto;
}

#second-filtre {
    width: 96%;
    height: 150px;
    overflow-y: scroll;
}



/*  ========== Couche ========= */
#view-couche{
    width: 20%;
    top: 20%;
    height: auto;
    margin-left: calc(0vh + 7vh);
    
}

.class_couche{
    list-style: none;
    align-items: center;
    object-position: center;
}


.img_couche {
    height: 30px;
}

/* ========== full description ========== */
#full-description{
    position: absolute;
    height: 90%;
    width: 80%;
    margin-top: 65px;

}

#fulldesc_rightbox{
    float: right;
    width: 40%;
    height: auto;
    overflow: hidden;
    margin-right: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px; 
    display: inline;
    background: rgba(212, 210, 240, 0.342);
}

#image_full {
    width: 100%;
    height: 100%;
}

.img_full{
    max-width: 60%;
    max-height: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    float: right; 
}

#evenement {
    position: relative;
    float: left;
    margin-bottom: 0;
}


/* ===================== A propos ==================== */

#view-apropos{
    position: absolute;
    height: 92%;
    width: 30%;
    margin-top: 60px;
    margin-right: 5px;
    
}

/* ========== Tout ce qui se qui part de 400 a 900 les pixel max mode reduit de la carte ========== */

@media screen and (max-width: 950px) {


    .header-section {

        display: flex;
        align-items: center;
        background-color: rgba(113, 179, 13, 0.87);
        height: 4vh;
        padding: 5px;
        display: none;
    
    }

    .info {
        color: rgb(249, 252, 249);
        position: absolute;
        gap: 5px;
        display: flex;
        top: 10px;
        margin-left: 70px;
        z-index: 9999;
        padding: 5px;
        background: rgba(143, 176, 236, 0.582);
        padding-top: 0;
        border-radius: 5px;
    }

    .info p {
        font-size: 80%;
    }

    .switch {
        position: relative;
        width: 15%;
        height: 8%;
        padding-left: 8%;
        margin-left: 2%;
    }
    

    #view-list{
        width: 25vh;
        top: 5%;
        height: calc(100% - 11%);
        margin-right: 5px;
        padding: 0px;
    }

    #view_description {
        bottom: 15px; 
        right: 0; 
        height: 20%;
        width: 90%;
    }

    #view-filtre{
        width: 20vh;
        top: 20%;
        height: auto;
        margin-left: calc(0vh + 7vh);
    }
    
    
    #view-couche{
        width: 20vh;
        top: 20%;
        height: 30%;
        margin-left: calc(0vh + 7vh);
        
    }

    #view-date {
        align-items: center;
        position: absolute;
        bottom: 20px;
        width: 60%;
        z-index: 9999;
        border: 1px solid #ccc;
        object-position: center;
        padding: 0px;
    }

    #play-date{
        display: none;
    }

    #full-description{
        position: absolute;
        height: 98%;
        width: 85%;
        margin-top: 60px;
    
    }
}
/* ========== Tout ce qui se qui part de 0 a les pixel max d'un telephone ========== */
@media screen and (max-width : 430px) {


    .header-section {
        display: flex;
        align-items: center;
        background-color: rgba(113, 179, 13, 0.87);
        height: 4vh;
        padding: 5px;
        display: block;
    
    }


    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
    
    }

    .leaflet-control-layers {
        z-index: 9999;
    }
    

    #view-list{
        position: absolute;
        width: 100%;
        height: 30%;
        padding: 0px;
        margin: 0;
        top: 70%;
    }


    #view-filtre{
        width: 100%;
        top: 20%;
        height: 30%;
        margin:0;
        top: 70%;
        overflow-y: scroll;
    }

    #view-couche{
        width: 100%;
        top: 20%;
        height: 30%;
        margin:0;
        top: 70%;
        
    }

    #view_description {
        bottom: 15px; 
        right: 0; 
        height: 30%;
        width: 100%;
    }

    #full-description{
        position: absolute;
        height: 92%;
        width: auto;
        margin: 65px 5px 5px 5px ;

    }

    .info {
        color: rgb(246, 246, 247);
        position: absolute;
        gap: 5px;
        display: flex;
        top: 10px;
        text-align: center;
        z-index: 500;
        padding: 2px;
        background: rgba(143, 176, 236, 0.582);
        padding-top: 0;
        width: 65%;
        justify-content: center;
        margin-left: 15%;
    }

    .info p {
        font-size: 20%;
    }

    #view-apropos p {
        font-size: 12px;
    }

    #view-date {
        align-items: center;
        position: absolute;
        bottom: 5px;
        width: 98%;
        height: auto;
        z-index: 9999;
        border: 1px solid #ccc;
        object-position: center;
        padding: 0px;
    }

    #resetButton  {
        font-size: 50%;
        margin-bottom: 5px;
    }
    #startButton{
        font-size: 50%;
    }
    #fin {
        font-size: 50%;
    }

    .nav-bar {
        width: 5vh;
        padding: 2px;
        padding-top: 18vh;
        padding-left: 2%;
        float: left;
        z-index: 1; 
        position: absolute;
        z-index: 9998;
        display: none;
        
    }

    .icon-nav{
        cursor: pointer;
        border-radius: 5px;
        display: block;
        position: absolute;
        width: 4vh;
        height: 4vh;
        margin-left: 2%;
        margin-top: 15vh;
        z-index: 9999;
        color: rgba(255, 255, 255, 0.76);
        background-color: rgba(101, 168, 23);
        align-items: center;
        justify-content: center;
        display: flex;
    
    }

    .list li {
        width: 100%;
        height: auto;
        margin-bottom: 2px;
    }

    #view-apropos{
        position: absolute;
        height: 92%;
        width: auto;
        margin: 65px 5px 5px 5px ;
        
    }


}